venv
env.py
articles
build/
caches/
__pycache__/
.ipynb_checkpoints
static/media/media_articles
/templates/TODO.md
downloads
downloads/00-presentation.pdf
downloads/00-presentation.pdf
downloads/01-presentation.pdf
downloads/01-science-fiction.pdf
downloads/02-erudite.pdf
downloads/03-argumentee.pdf
downloads/04-creative.pdf
downloads/05-collegiale.pdf
