body {
  font-family: 'ColaborateRegular', Arial, sans-serif;
  font-size: 14px;
  color: #000;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  /* text-shadow: -1px -1px #e0e0e0; */
}

a {
  text-decoration: none;
  color: #000;
}

.accueil {
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  background-color: #00A450;
}

.logo {
  background-color: #00A450;
}

.menu {
  background-color: #00A450;
  text-align: center;
}

img.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #00A450;
}

ul.menu {
  /* margin-top: 0px;
  padding-top: 14px;
  background-color: #00A450; */
  text-align: center;
}
.menu > li {
  display: inline-block;
  margin-top: 0px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  /* vertical-align: middle; */
  position: relative;
  color: #000
}
