body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter';
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  background-color: #FFEDD1;
  margin:0;
  padding:0;
  /* text-shadow: -1px -1px #e0e0e0; */
}
.bodyA{
  background-color: #00A44F;
}

::selection{
  background: #A1AAAF;
  color:#000;
}

.huge {
  font-size: 36px;
  letter-spacing: -0.019em;
  line-height: 34px;
  font-weight: bold;
  width: 100%; 
  display: block;
  text-align: justify;
}

h1{
  font-size: 24px;
  letter-spacing: -0.019em;
  line-height: 34px;
  font-weight: 600;
}

h2{
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
  font-weight: 600;
}

h3{
  font-size: 17px;
  letter-spacing: -0.013em;
  line-height: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #000;
}


.footer{
  width: 100%;
  background-color: #A53104;
  margin-top: auto;
  font-weight: 600;
  
}

.footer table {
  border-top: 2px solid #000;
  table-layout: fixed;
  text-align: left;
  border-spacing: 8%;
  padding-left: 15%;
}

.footer table td{
  border-top: none;
  vertical-align: top;
  width: 33%;
}

a:hover {
  text-decoration: underline;
  /* color: #4C7C8C; */
  color: #000;
}

.accueil{
  margin-left: 15%;
  margin-right: 15%;
  background-color: #00A44F;
}

.corps{
  margin-left: 15%;
  margin-right: 15%;
  background-color: #FFEDD1;
}

.accueil a:hover {
  text-decoration: underline;
  color: #000;
}
p.appels {
  font-size: 16px;
  
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #00A44F; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #00A44F;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #00A44F;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
} 

p.accueil {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  line-height: 150%;
}

.logo {
}

.menu {
  display:flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

img.menu {
  width: 100%;
}

ul.menu {
  /* margin-top: 0px;
  padding-top: 14px;
  background-color: #00A450; */
  
  padding-left: 0;
  list-style: inside;
  text-decoration: none!important;
}
.menu > li {
  display: inline-block;
  margin-top: 0px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  letter-spacing: -0.013em;
  line-height: 24px;
  font-weight: 600;
  /* vertical-align: middle; */
  position: relative;
  color: #000;
  text-decoration: none!important;
}
.menu > li:hover {
  background-color: #00A44F;
}

.menu a:hover {
  text-decoration: none;
}

.menuA {
  display:flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

img.menuA {
  width: 100%;
}

ul.menuA {
  /* margin-top: 0px;
  padding-top: 14px;
  background-color: #00A450; */
  text-align: center;
  padding-left: 0;
  list-style: inside;
}
.menuA > li {
  display: inline-block;
  margin-top: 0px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.013em;
  line-height: 24px;
  /* vertical-align: middle; */
  position: relative;
  color: #000;
  text-decoration: none;
}

.menuA > li:hover {
  background-color: #FFEDD1;
}

.article{
  text-align: justify;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

table.display {
  border-collapse: separate;
  
  width: 100%;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  
}
table.display td{
  border-top: 2px solid #000;
  vertical-align: top;
}

table.display td:nth-child(1) {
  font-size: x-large; 
  font-weight: bold;
  width: 15%; /* adjust as needed */
}
table.display td:nth-child(2) {
  font-size: x-large; 
  font-weight: bold;
  width: 35%; /* adjust as needed */
}

table.display td:nth-child(3) {
  font-size: regular; 
  font-weight: 600;
  width: 50%; /* adjust as needed */
}

