<html>
	<head>
		<link href="../static/css/style.css" rel="stylesheet">
	</head>
	<body>
		{% include "header.html" %}

<h1>à propos</h1>

<p style="text-align: justify;">Lampadaire est la revue grand public de la Société de philosophie du Québec (SPQ). Elle publie des articles de vulgarisation philosophique dans le but d’ouvrir un espace de discussion et d’échanges au sein de la communauté philosophique du Québec et de promouvoir le travail de celle-ci auprès du grand public. Elle s’adresse à l’ensemble des individus intéressés par la recherche et l’enseignement en philosophie et par les enjeux philosophiques soulevés par la société contemporaine. Lampadaire est une revue numérique gratuite. Elle publie exclusivement des articles en français.
</p>

<h2>équipe</h2>
<ul>
	<li>équipe</li>
	<li>équipe</li>
	<li>équipe</li>
	<li>équipe</li>
	<li>équipe</li>
</ul>

<h2>partenaires</h2>
<ul>
	<li>liste des partenaires</li>
	<li>liste des partenaires</li>
	<li>liste des partenaires</li>
	<li>liste des partenaires</li>
	<li>liste des partenaires</li>
</ul>

	</body>
</html>

