<html>

<head>
	<link href="../static/css/style.css" rel="stylesheet">
	<title>{{title|striptags}}</title>
	<link rel="icon" type="image/png" href="../static/media/favicon.png">
</head>

<body>
	{% include "header.html" %}

	<h1>Auteurices</h1>

	{% for a in data %}
	<h2><a href="{{a['authorslug']}}.html">
			{{a['author']['surname']}}, {{a['author']['forname']}}{%if a['author']['affiliations']%} ({{a['author']['affiliations']}})
			{%endif%}
		</a></h2>
	<!-- Liste articles: -->
	<ul>
		{% for art in a['articles'] %}
		<li>{%if art['myid'] == ''%}<a href="../articles/{{art['id']}}.html">{%else%}<a
					href="../articles/{{art['myid']}}.html">{%endif%}{{art['title']|safe}}</a></li>
		{% endfor%}
	</ul>
	{%endfor%}

	{% include "footer.html" %}
</body>

</html>