<html>

<head>
	<link href="/static/css/style.css" rel="stylesheet">
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<title>{{title|striptags}}</title>
	<link rel="icon" type="image/png" href="../static/media/favicon.png">
</head>

<body>
	{% include "header.html" %}

	<h1><a href="{{author['authorslug']}}.html">{{author['author']['surname']}},
			{{author['author']['forname']}}{%if author['author']['affiliations'] %}, Affiliation:
			{{author['author']['affiliations']}}
			{%endif%}
			{%if author['author']['orcid']%}, ORCID:
			{{author['author']['orcid']}}
			{%endif%}
		</a></h1>

	{%if author['author']['biography'] %}<p>{{author['author']['biography']|safe}}</p>{%endif%}
	<!-- Liste articles: -->
	<ul>
		{% for a in author['articles'] %}
		<li>{%if a['myid'] == ''%}<a href="../articles/{{a['id']}}.html">{%else%}<a
					href="../articles/{{a['myid']}}.html">{%endif%}{{a['title']|safe}}</a></li>
		{% endfor%}
	</ul>
	{% include "footer.html" %}
</body>

</html>