<div class="footer">
	<!-- <img src="../static/media/logotype_lampadaire.svg" width="20%" style="text-align: left;"/> -->
<!-- Nos partenaires: SPQ (logo), etc. -->
<table class="footer">
	<tr>
		<td style="text-wrap: wrap;">Suivez-nous</td>
		<td><a href="/contact.html">Contact</a></td>
		<td>Nos partenaires</td>
	</tr>
	<tr>
		<td>
			<br><a href="https://www.instagram.com/lampadaire.revue" target="_blank"style="margin-right: 20px;">
			  <i class="fab fa-instagram" style="color:black; font-size: x-large;"></i>
			</a> <a href="https://www.facebook.com/revuelampadaire" target="_blank">
			  <i class="fab fa-facebook-f" style="color:black; font-size: x-large;"></i>
			</a>
		  </td>
		<td><br>Pour toute information<br>info[at]lampadaire.ca</td>
		<td><br><img width="25%" href="/" src="/static/media/logo_philosophiques.png"></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><br><br><br><h5>© lampadaire 2023</h5></td>
	</tr>
</table>
</div>