<div class="footer">
    <div>
        <span class="footerTitle">Suivez-nous sur les réseaux pour rester au courant de nos publications et activités</span><br><br>
        <div style="display:flex; align-content:start;"><a href="https://www.instagram.com/lampadaire.revue"
                target="_blank" style="padding-right: 20px;">
                <i class="fab fa-instagram" style="color:black; font-size: x-large;"></i>
            </a>
            <a href="https://www.facebook.com/revuelampadaire" target="_blank">
                <i class="fab fa-facebook-f" style="color:black; font-size: x-large;"></i>
            </a>
        </div>
    </div>
    <div>
        <span class="footerTitle">Contact</span><br><br>
        <p class="footerBody">Pour toute information, vous pouvez nous rejoindre par courriel au <a
                href="mailto:info@lampadaire.ca">info@lampadaire.ca</a></p>
    </div>
    <div>
        <span class="footerTitle">Partenaires</span><br><br>
        <a href="https://laspq.org/philosophiques" target="_blank"><img width="35%" src="/static/media/logo_philosophiques.png"></a>
    </div>
</div>