<div class="logo">
	<img class="menu" href="/" src="/static/media/logo_lampadaire.svg" style="height:275px;">
</div>

<ul class="menu" style="margin-top: 0px;">
	<li><a href="/">accueil</a></li>
	<li><a href="/dossiers/index.html">numéros</a></li>
	<li><a href="/motscles/index.html">mots-clés</a></li>
	<li><a href="/authors/index.html">auteurices</a></li>
	<li><a href="/appels">appels de textes</a></li>
	<li><a href="/contribuer">contribuer</a></li>
	<li><a href="/a-propos">à propos</a></li>
	<li><a href="/contact">contact</a></li>
</ul>
