<ul class="menuA" style="margin-top: 0px;">
	<li><a href="/">accueil</a></li>
	<li><a href="/dossiers/index.html">numéros</a></li>
	<li><a href="/motscles/index.html">tags</a></li>
	<li><a href="/authors/index.html">auteurices</a></li>
	<li><a href="/appels.html">appels</a></li>
	<li><a href="/contribuer.html">contribuer</a></li>
	<li><a href="/a-propos.html">à propos</a></li>
</ul>

<div class="logo">
	<a href="/"><img class="menuA" href="/" src="/static/media/logotype_lampadaire.svg"></a>
</div>


