<html>

<head>
	<link href="/static/css/style.css" rel="stylesheet">
	<title>{{title|striptags}}</title>
	<link rel="icon" type="image/png" href="../static/media/favicon.png">
</head>

<body class="accueil">
	{% include "headerA.html" %}
	<!-- <h1>{{title}}</h1>
-->
	<br>
	<!-- <h2>à propos</h2> -->
	<p class="accueil">
		<em>Lampadaire</em> est la revue grand public de la <a href="laspq.org">Société de philosophie du Québec
			(SPQ)</a>.
	</p>


	<!-- <a href="motscles/index.html">Mots-clés</a>
<a href="dossiers/index.html">Dossiers</a> -->

	<br>

	<h2>Articles récents</h2>
	<ul>
		{%for i in articles%}
		<li style="font-size: large;">{%if i['myid'] == ''%}<a href="articles/{{i['id']}}.html">{%else%}<a
					href="articles/{{i['myid']}}.html">{%endif%} {{i['display']|striptags}}</a></li>


		{%endfor%}
	</ul>


	<h2>Appels de textes récents</h2>
	<ul>
		{%for i in appels%}
		<li style="font-size: large;">{%if i['myid'] == ''%}<a href="articles/{{i['id']}}.html">{%else%}<a
					href="articles/{{i['myid']}}.html">{%endif%} {{i['display']|striptags}}</a></li>


		{%endfor%}
	</ul>

	<h2>Numéros récents</h2>
	<ul>
		{%for d in dossiers%}
		<li style="font-size: large;"><a href="dossiers/{{d['dossier']['id']}}.html">{{d['dossier']['title_f']}}</a></li>


		{%endfor%}
	</ul>

	{% include "footer.html" %}

	<body>

</html>